#content {
    position: absolute;
    width: 90%;
    left: 5%;
}

.box {
    padding: 5px 10px;
    text-align: left;
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

#content h4, p {
    font-size: 5vw;
}

#content h3 {
    font-size: 6vw;
}

p {
    margin-left: 25px;
}

@media screen and (min-width: 480px) {
    #content {
        width: 70%;
        left: 15%;
        margin-top: 20%;
    }

    #content h4, p {
        font-size: 2vw;
    }

    #content h3, #content h2 {
        font-size: 3vw;
    }

}

@media screen and (min-width: 1024px) {
    #content {
        width: 50%;
        left: 25%;
        margin-top: 10%;
    }

    #content h4, p {
        font-size: 1.5vw;
    }

    #content h2, #content h3 {
        font-size: 2vw;
    }
}
