html, body {
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    overflow: hidden;
}

.content {
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -50;
}

.navbar {
    text-align: right;
    width: auto;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 100;
}

.navbar a {
    display: inline-block;
    color: white;
    font-family: Georgia, serif;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid transparent;
}

.navbar a:hover {
    border-color: #00dbd6;
}

.navbar a.active {
    color: #00dbd6;
}

body {
    background-image: url("https://lh3.googleusercontent.com/rIFsvW7dRxxAioK_gs3KccbDU0-J7eTDkwC7Qew-FadXWixAIWyI2tP1ubMg8i4-1Rm5ES3vuiR-m5uIUw5CRhn88vSQwaNM_Ge7VU7w-xT6DrSFHbKZA4RbnfjcYYsmBfGIAKvJ1A");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    width: 40%;
    border: 2px solid white;
    margin-left: 30%;
    padding-top: 25%;
    margin-top: 7%;
    text-align: center;
    position: absolute;
    z-index: -100;
}

h1 {
    color: #00dbd6;
}

#name {
    font-size: 5vw;
    font-family: "Garamond", "Bookman", "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
    letter-spacing: 6px;
    top: 5%;
    position: absolute;
    width: 90%;
    right: 5%;
    left: 5%;
}

#line {
    border: 1px solid white;
    height: 2px;
    width: 70%;
    left: 15%;
    top: 50%;
    position: absolute;
}

#job {
    color: #00dbd6;
    letter-spacing: 10px;
    font-weight: lighter;
    position: absolute;
    font-size: 25px;
    top: 55%;
    width: 100%;
}

@media screen and (max-width: 1020px) {
    .intro {
        width: 415px;
        height: 280px;
        padding-top: 0;
    }

    #name {
        font-size: 50px;
    }

    #job {
        font-size: 20px;
    }
}

@media screen and (max-width: 710px) {
    .navbar {
        top: 0;
        margin-left: 0px;
        text-align: center;
        width: 100%;
    }

    .navbar a {
        display: inline-block;
    }

    .content {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .intro {
        top: 145px;
        position: fixed;
        margin-top: 0px;
        padding-top: 0;
        margin-left: 7%;
        margin-right: 7%;
    }
}
