#content {
    position: absolute;
    width: 90%;
    left: 5%;
}

.box {
    padding: 5px 10px;
    text-align: left;
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

#content h2 {
    text-align: center;
    font-size: 6vw;
}

p {
    margin-left: 25px;
    font-size: 5vw;
}

@media screen and (min-width: 480px) {
    #content {
        margin-top: 10%;
        width: 60%;
        left: 20%;
    }

    .box {
        margin-bottom: 20px;
        font-size: 3vw;
    }

    #content h2, p {
        font-size: 3vw;
    }
}

@media screen and (min-width: 1024px) {
    #content {
        margin-top: 10%;
        width: 60%;
        left: 20%;
    }

    .box {
        margin-bottom: 20px;
        font-size: 2vw;
    }

    #content h2, p {
        font-size: 2vw;
    }
}
